    /* when width 1200px in large screen */
    
    html,
    body {
        overflow-x: hidden;
    }
    
    @media(max-width:1200px) {
        .nav-left {
            display: none !important;
        }
        .nav-top {
            display: block !important;
        }
        .header .icons-right {
            display: none !important;
        }
        .header .slider {
            margin-top: 108px;
        }
        .side-menu {
            padding: 70px;
            width: 50%;
        }
        /* gallary */
        .gallery .head h2 {
            font-size: 16rem;
        }
    }
    /* when width 996px in meduim screen */
    
    @media(max-width:991px) {
        .about {
            margin-top: 210px;
        }
        .side-menu a {
            font-size: 30px;
        }
        .side-menu a:before {
            bottom: 1px;
            left: -50px;
        }
        .about .counter-up {
            margin-top: 50px;
        }
        .gallery .head h2 {
            font-size: 12rem;
        }
        .offer .title-letter {
            font-size: 4.7em;
        }
        .offer .title-word {
            padding: 40px 0 86px 110px;
        }
        .offer .offer-image:after {
            display: block;
        }
        .contact .book-table:after {
            display: block;
        }
        .contact .book-table h2 {
            font-size: 45px;
        }
        .contact .join .form-control,
        .contact .join .btn-sub {
            width: 100%;
        }
    }
    /* when width 1200px in large screen */
    
    @media(max-width:767px) {
        .about {
            margin-top: 150px;
        }
        .side-menu {
            padding: 50px;
            width: 100%;
        }
        .side-menu a {
            font-size: 25px;
        }
        .side-menu a:before {
            bottom: 3px;
            left: -40px;
            font-size: 17px;
        }
        .gallery .head h2 {
            font-size: 7rem;
        }
        .gallery .img-negitve {
            margin-top: 0;
        }
        .offer .info p {
            font-size: 15px;
        }
        .offer .info .box {
            padding: 7px;
        }
        .offer .info .box .num {
            font-size: 30px;
            font-weight: 800;
        }
        .offer .info .box .name {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .team {
            margin-top: 100px;
        }
        .contact .contact-form {
            position: unset;
        }
        .contact .book-table {
            padding: 40px;
        }
        .contact .book-table::after,
        .contact .book-table::before {
            display: none;
        }
        footer {
            text-align: center;
        }
    }
    
    @media(max-width:650px) {
        .about .heading {
            font-size: 60px;
        }
        .about .title-word {
            padding: 40px 0 86px 49px;
        }
        .about p {
            font-size: 16px;
            font-weight: 500;
        }
        .about .counter-up .box .num {
            font-size: 40px;
        }
        .about .counter-up .box .name {
            font-size: 14px;
        }
        .gallery .head h2 {
            font-size: 5rem;
        }
        .testmonials .heading {
            font-size: 50px;
        }
    }
    
    @media (max-width: 481px) {
        .side-menu {
            padding: 40px;
        }
        .side-menu a {
            font-size: 22px;
        }
        .side-menu a:before {
            bottom: 2px;
            left: -35px;
            font-size: 15px;
        }
        .about {
            margin-top: 100px;
        }
        .gallery .head h2 {
            font-size: 4rem;
        }
        .offer .title-word {
            padding: 40px 0 86px 80px;
        }
        .offer .heading {
            font-size: 40px;
        }
        .offer .info .box {
            padding: 4px;
        }
        .offer .info .box .num {
            font-size: 22px;
            font-weight: 800;
        }
        .offer .info .box .name {
            font-size: 12px;
        }
        .testmonials .heading {
            font-size: 40px;
        }
        .testmonials .title-word {
            padding: 40px 0 86px 80px;
        }
        .team .heading {
            font-size: 50px;
        }
        .team .title-letter {
            font-size: 4em;
        }
        .team .title-word {
            padding: 40px 0 86px 80px;
        }
        .contact .book-table h2 {
            font-size: 30px;
        }
        .nav-top .icons-right i {
            margin: 0 5px;
        }
        .gallery .link-gallary {
            font-weight: 500;
            font-size: 14px;
        }
        .gallery .link-gallary::before {
            width: 50px;
        }
    }
    /* screen xx-small */
    
    @media(max-width:305px) {
        .side-menu {
            padding: 35px;
        }
        .side-menu a {
            font-size: 20px;
        }
        .about {
            margin-top: 50px;
        }
        .about .heading {
            font-size: 40px;
        }
        .about .title-word {
            padding: 40px 0 86px 40px;
        }
        .about p {
            font-size: 16px;
        }
        .about .counter-up .box .num {
            font-size: 30px;
        }
        .about .counter-up .box .name {
            font-size: 12px;
        }
        .gallery .head h2 {
            font-size: 3rem;
        }
        .contact .book-table h2 {
            font-size: 22px;
        }
        .nav-top .icons-right i {
            margin: 0 2px;
        }
        .offer .title-word {
            padding: 40px 0 60px 40px;
        }
        .testmonials .title-word {
            padding: 40px 0 86px 40px;
        }
    }
    /* ========================================================================
        ============================= Global style================================ */
    /* Start framework*/
    
    ul {
        list-style: none;
    }
    
    .custom-container {
        max-width: 100%;
    }
    
    input:active {
        outline: none;
        box-shadow: none;
        border: none;
    }
    /* End framework*/
    /*<!--loading page--*/
    
    .loading {
        position: fixed;
        z-index: 999999;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #111;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .spinner {
        width: 70px;
        text-align: center;
    }
    
    .spinner>div {
        width: 18px;
        height: 18px;
        background-color: #eee;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    
    .spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    
    .spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    
    @-webkit-keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0)
        }
        40% {
            -webkit-transform: scale(1.0)
        }
    }
    
    @keyframes sk-bouncedelay {
        0%,
        80%,
        100% {
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        40% {
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
    }